.navbar {
    background-color: transparent;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
    /* border-bottom: 1px solid #ff4655; */
}

nav.fixed-bottom,
nav.fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
}

nav.fixed-bottom {
    bottom: 0;
}

nav.fixed-top {
    top: 0;
}

html.navbar-fixed-top,
body.navbar-fixed-top {
    padding-top: 3.25rem;
}

html.navbar-fixed-bottom,
body.navbar-fixed-bottom {
    padding-bottom: 3.25rem;
}

.navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    background-color: transparent;
}

.navbar-brand a:focus,
.navbar-brand a:hover {
    background-color: transparent;
}


.navbar-burger {
    color: #ece8e1;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}

.navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
}

.navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.navbar-burger.active span:nth-child(2) {
    opacity: 0;
}

.navbar-burger.active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu {
    display: none;
}

.navbar-item {
    color: #ece8e1;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.nav-action {
    background-color: #ff4655;
}

.navbar-item:hover {
    background-color: #ff4655;
}

.navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
}

.navbar-item.expanded {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-menu.active {
    display: block;
}

.nav-button {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #ece8e1;
    background-color: #ff4655;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    transition: background-color 0.25s ease-out;
}

.nav-button:hover {
    outline: none !important;
}


@media screen and (min-width: 750px) {

    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
        align-items: stretch;
        display: flex;
    }

    .navbar {
        min-height: 3.25rem;
    }

    .navbar-burger {
        display: none;
    }

    .navbar-item {
        align-items: center;
        display: flex;
    }

    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .navbar-start {
        justify-content: flex-start;
        margin-right: auto;
    }


}