.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 100% !important;
}

.row.cell {
    display: table;
    width: 100%;
}

.align-start {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-end {
    vertical-align: bottom;
}

.overflow-hidden {
    overflow: hidden;
}


/* Columns */

.col {
    flex: 0 0 auto;
    width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 575px) {
    .col-small-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-small-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-small-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-small-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-small-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-small-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-small-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-small-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-small-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-small-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-small-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-small-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-small-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 775px) {
    .col-medium-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-medium-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-medium-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-medium-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-medium-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-medium-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-medium-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-medium-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-medium-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-medium-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-medium-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-medium-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-medium-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 975px) {
    .col-large-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-large-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-large-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-large-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-large-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-large-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-large-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-large-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-large-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-large-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-large-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-large-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-large-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1275px) {
    .col-xlarge-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xlarge-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xlarge-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xlarge-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xlarge-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xlarge-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xlarge-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xlarge-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xlarge-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xlarge-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xlarge-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xlarge-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xlarge-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 1 !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-around {
    justify-content: space-around !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.align-start {
    align-content: flex-start !important;
}

.align-end {
    align-content: flex-end !important;
}

.align-center {
    align-content: center !important;
}

.align-between {
    align-content: space-between !important;
}

.align-around {
    align-content: space-around !important;
}

.align-stretch {
    align-content: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.align-self-stretch {
    align-self: stretch !important;
}

@media (min-width: 576px) {
    .flex-small-row {
        flex-direction: row !important;
    }

    .flex-small-column {
        flex-direction: column !important;
    }

    .flex-small-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-small-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-small-wrap {
        flex-wrap: wrap !important;
    }

    .flex-small-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-small-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .flex-small-fill {
        flex: 1 1 auto !important;
    }

    .flex-small-grow-0 {
        flex-grow: 0 !important;
    }

    .flex-small-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-small-shrink-0 {
        flex-shrink: 0 !important;
    }

    .flex-small-shrink-1 {
        flex-shrink: 1 !important;
    }

    .justify-small-start {
        justify-content: flex-start !important;
    }

    .justify-small-end {
        justify-content: flex-end !important;
    }

    .justify-small-center {
        justify-content: center !important;
    }

    .justify-small-between {
        justify-content: space-between !important;
    }

    .justify-small-around {
        justify-content: space-around !important;
    }

    .align-items-small-start {
        align-items: flex-start !important;
    }

    .align-items-small-end {
        align-items: flex-end !important;
    }

    .align-items-small-center {
        align-items: center !important;
    }

    .align-items-small-baseline {
        align-items: baseline !important;
    }

    .align-items-small-stretch {
        align-items: stretch !important;
    }

    .align-small-start {
        align-content: flex-start !important;
    }

    .align-small-end {
        align-content: flex-end !important;
    }

    .align-small-center {
        align-content: center !important;
    }

    .align-small-between {
        align-content: space-between !important;
    }

    .align-small-around {
        align-content: space-around !important;
    }

    .align-small-stretch {
        align-content: stretch !important;
    }

    .align-self-small-auto {
        align-self: auto !important;
    }

    .align-self-small-start {
        align-self: flex-start !important;
    }

    .align-self-small-end {
        align-self: flex-end !important;
    }

    .align-self-small-center {
        align-self: center !important;
    }

    .align-self-small-baseline {
        align-self: baseline !important;
    }

    .align-self-small-stretch {
        align-self: stretch !important;
    }
}

@media (min-width: 775px) {
    .flex-medium-row {
        flex-direction: row !important;
    }

    .flex-medium-column {
        flex-direction: column !important;
    }

    .flex-medium-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-medium-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-medium-wrap {
        flex-wrap: wrap !important;
    }

    .flex-medium-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-medium-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .flex-medium-fill {
        flex: 1 1 auto !important;
    }

    .flex-medium-grow-0 {
        flex-grow: 0 !important;
    }

    .flex-medium-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-medium-shrink-0 {
        flex-shrink: 0 !important;
    }

    .flex-medium-shrink-1 {
        flex-shrink: 1 !important;
    }

    .justify-medium-start {
        justify-content: flex-start !important;
    }

    .justify-medium-end {
        justify-content: flex-end !important;
    }

    .justify-medium-center {
        justify-content: center !important;
    }

    .justify-medium-between {
        justify-content: space-between !important;
    }

    .justify-medium-around {
        justify-content: space-around !important;
    }

    .align-items-medium-start {
        align-items: flex-start !important;
    }

    .align-items-medium-end {
        align-items: flex-end !important;
    }

    .align-items-medium-center {
        align-items: center !important;
    }

    .align-items-medium-baseline {
        align-items: baseline !important;
    }

    .align-items-medium-stretch {
        align-items: stretch !important;
    }

    .align-medium-start {
        align-content: flex-start !important;
    }

    .align-medium-end {
        align-content: flex-end !important;
    }

    .align-medium-center {
        align-content: center !important;
    }

    .align-medium-between {
        align-content: space-between !important;
    }

    .align-medium-around {
        align-content: space-around !important;
    }

    .align-medium-stretch {
        align-content: stretch !important;
    }

    .align-self-medium-auto {
        align-self: auto !important;
    }

    .align-self-medium-start {
        align-self: flex-start !important;
    }

    .align-self-medium-end {
        align-self: flex-end !important;
    }

    .align-self-medium-center {
        align-self: center !important;
    }

    .align-self-medium-baseline {
        align-self: baseline !important;
    }

    .align-self-medium-stretch {
        align-self: stretch !important;
    }
}

@media (min-width: 975px) {
    .flex-large-row {
        flex-direction: row !important;
    }

    .flex-large-column {
        flex-direction: column !important;
    }

    .flex-large-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-large-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-large-wrap {
        flex-wrap: wrap !important;
    }

    .flex-large-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-large-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .flex-large-fill {
        flex: 1 1 auto !important;
    }

    .flex-large-grow-0 {
        flex-grow: 0 !important;
    }

    .flex-large-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-large-shrink-0 {
        flex-shrink: 0 !important;
    }

    .flex-large-shrink-1 {
        flex-shrink: 1 !important;
    }

    .justify-large-start {
        justify-content: flex-start !important;
    }

    .justify-large-end {
        justify-content: flex-end !important;
    }

    .justify-large-center {
        justify-content: center !important;
    }

    .justify-large-between {
        justify-content: space-between !important;
    }

    .justify-large-around {
        justify-content: space-around !important;
    }

    .align-items-large-start {
        align-items: flex-start !important;
    }

    .align-items-large-end {
        align-items: flex-end !important;
    }

    .align-items-large-center {
        align-items: center !important;
    }

    .align-items-large-baseline {
        align-items: baseline !important;
    }

    .align-items-large-stretch {
        align-items: stretch !important;
    }

    .align-large-start {
        align-content: flex-start !important;
    }

    .align-large-end {
        align-content: flex-end !important;
    }

    .align-large-center {
        align-content: center !important;
    }

    .align-large-between {
        align-content: space-between !important;
    }

    .align-large-around {
        align-content: space-around !important;
    }

    .align-large-stretch {
        align-content: stretch !important;
    }

    .align-self-large-auto {
        align-self: auto !important;
    }

    .align-self-large-start {
        align-self: flex-start !important;
    }

    .align-self-large-end {
        align-self: flex-end !important;
    }

    .align-self-large-center {
        align-self: center !important;
    }

    .align-self-large-baseline {
        align-self: baseline !important;
    }

    .align-self-large-stretch {
        align-self: stretch !important;
    }
}

@media (min-width: 1275px) {
    .flex-xlarge-row {
        flex-direction: row !important;
    }

    .flex-xlarge-column {
        flex-direction: column !important;
    }

    .flex-xlarge-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-xlarge-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-xlarge-wrap {
        flex-wrap: wrap !important;
    }

    .flex-xlarge-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-xlarge-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .flex-xlarge-fill {
        flex: 1 1 auto !important;
    }

    .flex-xlarge-grow-0 {
        flex-grow: 0 !important;
    }

    .flex-xlarge-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-xlarge-shrink-0 {
        flex-shrink: 0 !important;
    }

    .flex-xlarge-shrink-1 {
        flex-shrink: 1 !important;
    }

    .justify-xlarge-start {
        justify-content: flex-start !important;
    }

    .justify-xlarge-end {
        justify-content: flex-end !important;
    }

    .justify-xlarge-center {
        justify-content: center !important;
    }

    .justify-xlarge-between {
        justify-content: space-between !important;
    }

    .justify-xlarge-around {
        justify-content: space-around !important;
    }

    .align-items-xlarge-start {
        align-items: flex-start !important;
    }

    .align-items-xlarge-end {
        align-items: flex-end !important;
    }

    .align-items-xlarge-center {
        align-items: center !important;
    }

    .align-items-xlarge-baseline {
        align-items: baseline !important;
    }

    .align-items-xlarge-stretch {
        align-items: stretch !important;
    }

    .align-xlarge-start {
        align-content: flex-start !important;
    }

    .align-xlarge-end {
        align-content: flex-end !important;
    }

    .align-xlarge-center {
        align-content: center !important;
    }

    .align-xlarge-between {
        align-content: space-between !important;
    }

    .align-xlarge-around {
        align-content: space-around !important;
    }

    .align-xlarge-stretch {
        align-content: stretch !important;
    }

    .align-self-xlarge-auto {
        align-self: auto !important;
    }

    .align-self-xlarge-start {
        align-self: flex-start !important;
    }

    .align-self-xlarge-end {
        align-self: flex-end !important;
    }

    .align-self-xlarge-center {
        align-self: center !important;
    }

    .align-self-xlarge-baseline {
        align-self: baseline !important;
    }

    .align-self-xlarge-stretch {
        align-self: stretch !important;
    }
}