.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}

.m-6 {
    margin: 4.5rem !important;
}

.mt-6,
.my-6 {
    margin-top: 4.5rem !important;
}

.mr-6,
.mx-6 {
    margin-right: 4.5rem !important;
}

.mb-6,
.my-6 {
    margin-bottom: 4.5rem !important;
}

.ml-6,
.mx-6 {
    margin-left: 4.5rem !important;
}

.m-7 {
    margin: 6rem !important;
}

.mt-7,
.my-7 {
    margin-top: 6rem !important;
}

.mr-7,
.mx-7 {
    margin-right: 6rem !important;
}

.mb-7,
.my-7 {
    margin-bottom: 6rem !important;
}

.ml-7,
.mx-7 {
    margin-left: 6rem !important;
}

.m-8 {
    margin: 7.5rem !important;
}

.mt-8,
.my-8 {
    margin-top: 7.5rem !important;
}

.mr-8,
.mx-8 {
    margin-right: 7.5rem !important;
}

.mb-8,
.my-8 {
    margin-bottom: 7.5rem !important;
}

.ml-8,
.mx-8 {
    margin-left: 7.5rem !important;
}

.m-9 {
    margin: 9rem !important;
}

.mt-9,
.my-9 {
    margin-top: 9rem !important;
}

.mr-9,
.mx-9 {
    margin-right: 9rem !important;
}

.mb-9,
.my-9 {
    margin-bottom: 9rem !important;
}

.ml-9,
.mx-9 {
    margin-left: 9rem !important;
}

.m-10 {
    margin: 10.5rem !important;
}

.mt-10,
.my-10 {
    margin-top: 10.5rem !important;
}

.mr-10,
.mx-10 {
    margin-right: 10.5rem !important;
}

.mb-10,
.my-10 {
    margin-bottom: 10.5rem !important;
}

.ml-10,
.mx-10 {
    margin-left: 10.5rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.pt-1,
.py-1 {
    padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
    padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
    padding-left: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.pr-5,
.px-5 {
    padding-right: 3rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

.p-6 {
    padding: 4.5rem !important;
}

.pt-6,
.py-6 {
    padding-top: 4.5rem !important;
}

.pr-6,
.px-6 {
    padding-right: 4.5rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 4.5rem !important;
}

.pl-6,
.px-6 {
    padding-left: 4.5rem !important;
}

.p-7 {
    padding: 6rem !important;
}

.pt-7,
.py-7 {
    padding-top: 6rem !important;
}

.pr-7,
.px-7 {
    padding-right: 6rem !important;
}

.pb-7,
.py-7 {
    padding-bottom: 6rem !important;
}

.pl-7,
.px-7 {
    padding-left: 6rem !important;
}

.p-8 {
    padding: 7.5rem !important;
}

.pt-8,
.py-8 {
    padding-top: 7.5rem !important;
}

.pr-8,
.px-8 {
    padding-right: 7.5rem !important;
}

.pb-8,
.py-8 {
    padding-bottom: 7.5rem !important;
}

.pl-8,
.px-8 {
    padding-left: 7.5rem !important;
}

.p-9 {
    padding: 9rem !important;
}

.pt-9,
.py-9 {
    padding-top: 9rem !important;
}

.pr-9,
.px-9 {
    padding-right: 9rem !important;
}

.pb-9,
.py-9 {
    padding-bottom: 9rem !important;
}

.pl-9,
.px-9 {
    padding-left: 9rem !important;
}

.p-10 {
    padding: 10.5rem !important;
}

.pt-10,
.py-10 {
    padding-top: 10.5rem !important;
}

.pr-10,
.px-10 {
    padding-right: 10.5rem !important;
}

.pb-10,
.py-10 {
    padding-bottom: 10.5rem !important;
}

.pl-10,
.px-10 {
    padding-left: 10.5rem !important;
}




.m-auto {
    margin: auto !important;
}

.mt-auto,
.my-auto {
    margin-top: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

@media (min-width: 576px) {
    .m-small-0 {
        margin: 0 !important;
    }

    .mt-small-0,
    .my-small-0 {
        margin-top: 0 !important;
    }

    .mr-small-0,
    .mx-small-0 {
        margin-right: 0 !important;
    }

    .mb-small-0,
    .my-small-0 {
        margin-bottom: 0 !important;
    }

    .ml-small-0,
    .mx-small-0 {
        margin-left: 0 !important;
    }

    .m-small-1 {
        margin: 0.25rem !important;
    }

    .mt-small-1,
    .my-small-1 {
        margin-top: 0.25rem !important;
    }

    .mr-small-1,
    .mx-small-1 {
        margin-right: 0.25rem !important;
    }

    .mb-small-1,
    .my-small-1 {
        margin-bottom: 0.25rem !important;
    }

    .ml-small-1,
    .mx-small-1 {
        margin-left: 0.25rem !important;
    }

    .m-small-2 {
        margin: 0.5rem !important;
    }

    .mt-small-2,
    .my-small-2 {
        margin-top: 0.5rem !important;
    }

    .mr-small-2,
    .mx-small-2 {
        margin-right: 0.5rem !important;
    }

    .mb-small-2,
    .my-small-2 {
        margin-bottom: 0.5rem !important;
    }

    .ml-small-2,
    .mx-small-2 {
        margin-left: 0.5rem !important;
    }

    .m-small-3 {
        margin: 1rem !important;
    }

    .mt-small-3,
    .my-small-3 {
        margin-top: 1rem !important;
    }

    .mr-small-3,
    .mx-small-3 {
        margin-right: 1rem !important;
    }

    .mb-small-3,
    .my-small-3 {
        margin-bottom: 1rem !important;
    }

    .ml-small-3,
    .mx-small-3 {
        margin-left: 1rem !important;
    }

    .m-small-4 {
        margin: 1.5rem !important;
    }

    .mt-small-4,
    .my-small-4 {
        margin-top: 1.5rem !important;
    }

    .mr-small-4,
    .mx-small-4 {
        margin-right: 1.5rem !important;
    }

    .mb-small-4,
    .my-small-4 {
        margin-bottom: 1.5rem !important;
    }

    .ml-small-4,
    .mx-small-4 {
        margin-left: 1.5rem !important;
    }

    .m-small-5 {
        margin: 3rem !important;
    }

    .mt-small-5,
    .my-small-5 {
        margin-top: 3rem !important;
    }

    .mr-small-5,
    .mx-small-5 {
        margin-right: 3rem !important;
    }

    .mb-small-5,
    .my-small-5 {
        margin-bottom: 3rem !important;
    }

    .ml-small-5,
    .mx-small-5 {
        margin-left: 3rem !important;
    }

    .m-small-6 {
        margin: 4.5rem !important;
    }

    .mt-small-6,
    .my-small-6 {
        margin-top: 4.5rem !important;
    }

    .mr-small-6,
    .mx-small-6 {
        margin-right: 4.5rem !important;
    }

    .mb-small-6,
    .my-small-6 {
        margin-bottom: 4.5rem !important;
    }

    .ml-small-6,
    .mx-small-6 {
        margin-left: 4.5rem !important;
    }

    .m-small-7 {
        margin: 6rem !important;
    }

    .mt-small-7,
    .my-small-7 {
        margin-top: 6rem !important;
    }

    .mr-small-7,
    .mx-small-7 {
        margin-right: 6rem !important;
    }

    .mb-small-7,
    .my-small-7 {
        margin-bottom: 6rem !important;
    }

    .ml-small-7,
    .mx-small-7 {
        margin-left: 6rem !important;
    }

    .m-small-8 {
        margin: 7.5rem !important;
    }

    .mt-small-8,
    .my-small-8 {
        margin-top: 7.5rem !important;
    }

    .mr-small-8,
    .mx-small-8 {
        margin-right: 7.5rem !important;
    }

    .mb-small-8,
    .my-small-8 {
        margin-bottom: 7.5rem !important;
    }

    .ml-small-8,
    .mx-small-8 {
        margin-left: 7.5rem !important;
    }

    .m-small-9 {
        margin: 9rem !important;
    }

    .mt-small-9,
    .my-small-9 {
        margin-top: 9rem !important;
    }

    .mr-small-9,
    .mx-small-9 {
        margin-right: 9rem !important;
    }

    .mb-small-9,
    .my-small-9 {
        margin-bottom: 9rem !important;
    }

    .ml-small-9,
    .mx-small-9 {
        margin-left: 9rem !important;
    }

    .m-small-10 {
        margin: 10.5rem !important;
    }

    .mt-small-10,
    .my-small-10 {
        margin-top: 10.5rem !important;
    }

    .mr-small-10,
    .mx-small-10 {
        margin-right: 10.5rem !important;
    }

    .mb-small-10,
    .my-small-10 {
        margin-bottom: 10.5rem !important;
    }

    .ml-small-10,
    .mx-small-10 {
        margin-left: 10.5rem !important;
    }

    .p-small-0 {
        padding: 0 !important;
    }

    .pt-small-0,
    .py-small-0 {
        padding-top: 0 !important;
    }

    .pr-small-0,
    .px-small-0 {
        padding-right: 0 !important;
    }

    .pb-small-0,
    .py-small-0 {
        padding-bottom: 0 !important;
    }

    .pl-small-0,
    .px-small-0 {
        padding-left: 0 !important;
    }

    .p-small-1 {
        padding: 0.25rem !important;
    }

    .pt-small-1,
    .py-small-1 {
        padding-top: 0.25rem !important;
    }

    .pr-small-1,
    .px-small-1 {
        padding-right: 0.25rem !important;
    }

    .pb-small-1,
    .py-small-1 {
        padding-bottom: 0.25rem !important;
    }

    .pl-small-1,
    .px-small-1 {
        padding-left: 0.25rem !important;
    }

    .p-small-2 {
        padding: 0.5rem !important;
    }

    .pt-small-2,
    .py-small-2 {
        padding-top: 0.5rem !important;
    }

    .pr-small-2,
    .px-small-2 {
        padding-right: 0.5rem !important;
    }

    .pb-small-2,
    .py-small-2 {
        padding-bottom: 0.5rem !important;
    }

    .pl-small-2,
    .px-small-2 {
        padding-left: 0.5rem !important;
    }

    .p-small-3 {
        padding: 1rem !important;
    }

    .pt-small-3,
    .py-small-3 {
        padding-top: 1rem !important;
    }

    .pr-small-3,
    .px-small-3 {
        padding-right: 1rem !important;
    }

    .pb-small-3,
    .py-small-3 {
        padding-bottom: 1rem !important;
    }

    .pl-small-3,
    .px-small-3 {
        padding-left: 1rem !important;
    }

    .p-small-4 {
        padding: 1.5rem !important;
    }

    .pt-small-4,
    .py-small-4 {
        padding-top: 1.5rem !important;
    }

    .pr-small-4,
    .px-small-4 {
        padding-right: 1.5rem !important;
    }

    .pb-small-4,
    .py-small-4 {
        padding-bottom: 1.5rem !important;
    }

    .pl-small-4,
    .px-small-4 {
        padding-left: 1.5rem !important;
    }

    .p-small-5 {
        padding: 3rem !important;
    }

    .pt-small-5,
    .py-small-5 {
        padding-top: 3rem !important;
    }

    .pr-small-5,
    .px-small-5 {
        padding-right: 3rem !important;
    }

    .pb-small-5,
    .py-small-5 {
        padding-bottom: 3rem !important;
    }

    .pl-small-5,
    .px-small-5 {
        padding-left: 3rem !important;
    }

    .p-small-6 {
        padding: 4.5rem !important;
    }

    .pt-small-6,
    .py-small-6 {
        padding-top: 4.5rem !important;
    }

    .pr-small-6,
    .px-small-6 {
        padding-right: 4.5rem !important;
    }

    .pb-small-6,
    .py-small-6 {
        padding-bottom: 4.5rem !important;
    }

    .pl-small-6,
    .px-small-6 {
        padding-left: 4.5rem !important;
    }

    .p-small-7 {
        padding: 6rem !important;
    }

    .pt-small-7,
    .py-small-7 {
        padding-top: 6rem !important;
    }

    .pr-small-7,
    .px-small-7 {
        padding-right: 6rem !important;
    }

    .pb-small-7,
    .py-small-7 {
        padding-bottom: 6rem !important;
    }

    .pl-small-7,
    .px-small-7 {
        padding-left: 6rem !important;
    }

    .p-small-8 {
        padding: 7.5rem !important;
    }

    .pt-small-8,
    .py-small-8 {
        padding-top: 7.5rem !important;
    }

    .pr-small-8,
    .px-small-8 {
        padding-right: 7.5rem !important;
    }

    .pb-small-8,
    .py-small-8 {
        padding-bottom: 7.5rem !important;
    }

    .pl-small-8,
    .px-small-8 {
        padding-left: 7.5rem !important;
    }

    .p-small-9 {
        padding: 9rem !important;
    }

    .pt-small-9,
    .py-small-9 {
        padding-top: 9rem !important;
    }

    .pr-small-9,
    .px-small-9 {
        padding-right: 9rem !important;
    }

    .pb-small-9,
    .py-small-9 {
        padding-bottom: 9rem !important;
    }

    .pl-small-9,
    .px-small-9 {
        padding-left: 9rem !important;
    }

    .p-small-10 {
        padding: 10.5rem !important;
    }

    .pt-small-10,
    .py-small-10 {
        padding-top: 10.5rem !important;
    }

    .pr-small-10,
    .px-small-10 {
        padding-right: 10.5rem !important;
    }

    .pb-small-10,
    .py-small-10 {
        padding-bottom: 10.5rem !important;
    }

    .pl-small-10,
    .px-small-10 {
        padding-left: 10.5rem !important;
    }

    .m-small-auto {
        margin: auto !important;
    }

    .mt-small-auto,
    .my-small-auto {
        margin-top: auto !important;
    }

    .mr-small-auto,
    .mx-small-auto {
        margin-right: auto !important;
    }

    .mb-small-auto,
    .my-small-auto {
        margin-bottom: auto !important;
    }

    .ml-small-auto,
    .mx-small-auto {
        margin-left: auto !important;
    }
}

@media (min-width: 768px) {
    .m-medium-0 {
        margin: 0 !important;
    }

    .mt-medium-0,
    .my-medium-0 {
        margin-top: 0 !important;
    }

    .mr-medium-0,
    .mx-medium-0 {
        margin-right: 0 !important;
    }

    .mb-medium-0,
    .my-medium-0 {
        margin-bottom: 0 !important;
    }

    .ml-medium-0,
    .mx-medium-0 {
        margin-left: 0 !important;
    }

    .m-medium-1 {
        margin: 0.25rem !important;
    }

    .mt-medium-1,
    .my-medium-1 {
        margin-top: 0.25rem !important;
    }

    .mr-medium-1,
    .mx-medium-1 {
        margin-right: 0.25rem !important;
    }

    .mb-medium-1,
    .my-medium-1 {
        margin-bottom: 0.25rem !important;
    }

    .ml-medium-1,
    .mx-medium-1 {
        margin-left: 0.25rem !important;
    }

    .m-medium-2 {
        margin: 0.5rem !important;
    }

    .mt-medium-2,
    .my-medium-2 {
        margin-top: 0.5rem !important;
    }

    .mr-medium-2,
    .mx-medium-2 {
        margin-right: 0.5rem !important;
    }

    .mb-medium-2,
    .my-medium-2 {
        margin-bottom: 0.5rem !important;
    }

    .ml-medium-2,
    .mx-medium-2 {
        margin-left: 0.5rem !important;
    }

    .m-medium-3 {
        margin: 1rem !important;
    }

    .mt-medium-3,
    .my-medium-3 {
        margin-top: 1rem !important;
    }

    .mr-medium-3,
    .mx-medium-3 {
        margin-right: 1rem !important;
    }

    .mb-medium-3,
    .my-medium-3 {
        margin-bottom: 1rem !important;
    }

    .ml-medium-3,
    .mx-medium-3 {
        margin-left: 1rem !important;
    }

    .m-medium-4 {
        margin: 1.5rem !important;
    }

    .mt-medium-4,
    .my-medium-4 {
        margin-top: 1.5rem !important;
    }

    .mr-medium-4,
    .mx-medium-4 {
        margin-right: 1.5rem !important;
    }

    .mb-medium-4,
    .my-medium-4 {
        margin-bottom: 1.5rem !important;
    }

    .ml-medium-4,
    .mx-medium-4 {
        margin-left: 1.5rem !important;
    }

    .m-medium-5 {
        margin: 3rem !important;
    }

    .mt-medium-5,
    .my-medium-5 {
        margin-top: 3rem !important;
    }

    .mr-medium-5,
    .mx-medium-5 {
        margin-right: 3rem !important;
    }

    .mb-medium-5,
    .my-medium-5 {
        margin-bottom: 3rem !important;
    }

    .ml-medium-5,
    .mx-medium-5 {
        margin-left: 3rem !important;
    }

    .m-medium-6 {
        margin: 4.5rem !important;
    }

    .mt-medium-6,
    .my-medium-6 {
        margin-top: 4.5rem !important;
    }

    .mr-medium-6,
    .mx-medium-6 {
        margin-right: 4.5rem !important;
    }

    .mb-medium-6,
    .my-medium-6 {
        margin-bottom: 4.5rem !important;
    }

    .ml-medium-6,
    .mx-medium-6 {
        margin-left: 4.5rem !important;
    }

    .m-medium-7 {
        margin: 6rem !important;
    }

    .mt-medium-7,
    .my-medium-7 {
        margin-top: 6rem !important;
    }

    .mr-medium-7,
    .mx-medium-7 {
        margin-right: 6rem !important;
    }

    .mb-medium-7,
    .my-medium-7 {
        margin-bottom: 6rem !important;
    }

    .ml-medium-7,
    .mx-medium-7 {
        margin-left: 6rem !important;
    }

    .m-medium-8 {
        margin: 7.5rem !important;
    }

    .mt-medium-8,
    .my-medium-8 {
        margin-top: 7.5rem !important;
    }

    .mr-medium-8,
    .mx-medium-8 {
        margin-right: 7.5rem !important;
    }

    .mb-medium-8,
    .my-medium-8 {
        margin-bottom: 7.5rem !important;
    }

    .ml-medium-8,
    .mx-medium-8 {
        margin-left: 7.5rem !important;
    }

    .m-medium-9 {
        margin: 9rem !important;
    }

    .mt-medium-9,
    .my-medium-9 {
        margin-top: 9rem !important;
    }

    .mr-medium-9,
    .mx-medium-9 {
        margin-right: 9rem !important;
    }

    .mb-medium-9,
    .my-medium-9 {
        margin-bottom: 9rem !important;
    }

    .ml-medium-9,
    .mx-medium-9 {
        margin-left: 9rem !important;
    }

    .m-medium-10 {
        margin: 10.5rem !important;
    }

    .mt-medium-10,
    .my-medium-10 {
        margin-top: 10.5rem !important;
    }

    .mr-medium-10,
    .mx-medium-10 {
        margin-right: 10.5rem !important;
    }

    .mb-medium-10,
    .my-medium-10 {
        margin-bottom: 10.5rem !important;
    }

    .ml-medium-10,
    .mx-medium-10 {
        margin-left: 10.5rem !important;
    }

    .p-medium-0 {
        padding: 0 !important;
    }

    .pt-medium-0,
    .py-medium-0 {
        padding-top: 0 !important;
    }

    .pr-medium-0,
    .px-medium-0 {
        padding-right: 0 !important;
    }

    .pb-medium-0,
    .py-medium-0 {
        padding-bottom: 0 !important;
    }

    .pl-medium-0,
    .px-medium-0 {
        padding-left: 0 !important;
    }

    .p-medium-1 {
        padding: 0.25rem !important;
    }

    .pt-medium-1,
    .py-medium-1 {
        padding-top: 0.25rem !important;
    }

    .pr-medium-1,
    .px-medium-1 {
        padding-right: 0.25rem !important;
    }

    .pb-medium-1,
    .py-medium-1 {
        padding-bottom: 0.25rem !important;
    }

    .pl-medium-1,
    .px-medium-1 {
        padding-left: 0.25rem !important;
    }

    .p-medium-2 {
        padding: 0.5rem !important;
    }

    .pt-medium-2,
    .py-medium-2 {
        padding-top: 0.5rem !important;
    }

    .pr-medium-2,
    .px-medium-2 {
        padding-right: 0.5rem !important;
    }

    .pb-medium-2,
    .py-medium-2 {
        padding-bottom: 0.5rem !important;
    }

    .pl-medium-2,
    .px-medium-2 {
        padding-left: 0.5rem !important;
    }

    .p-medium-3 {
        padding: 1rem !important;
    }

    .pt-medium-3,
    .py-medium-3 {
        padding-top: 1rem !important;
    }

    .pr-medium-3,
    .px-medium-3 {
        padding-right: 1rem !important;
    }

    .pb-medium-3,
    .py-medium-3 {
        padding-bottom: 1rem !important;
    }

    .pl-medium-3,
    .px-medium-3 {
        padding-left: 1rem !important;
    }

    .p-medium-4 {
        padding: 1.5rem !important;
    }

    .pt-medium-4,
    .py-medium-4 {
        padding-top: 1.5rem !important;
    }

    .pr-medium-4,
    .px-medium-4 {
        padding-right: 1.5rem !important;
    }

    .pb-medium-4,
    .py-medium-4 {
        padding-bottom: 1.5rem !important;
    }

    .pl-medium-4,
    .px-medium-4 {
        padding-left: 1.5rem !important;
    }

    .p-medium-5 {
        padding: 3rem !important;
    }

    .pt-medium-5,
    .py-medium-5 {
        padding-top: 3rem !important;
    }

    .pr-medium-5,
    .px-medium-5 {
        padding-right: 3rem !important;
    }

    .pb-medium-5,
    .py-medium-5 {
        padding-bottom: 3rem !important;
    }

    .pl-medium-5,
    .px-medium-5 {
        padding-left: 3rem !important;
    }

    .p-medium-6 {
        padding: 4.5rem !important;
    }

    .pt-medium-6,
    .py-medium-6 {
        padding-top: 4.5rem !important;
    }

    .pr-medium-6,
    .px-medium-6 {
        padding-right: 4.5rem !important;
    }

    .pb-medium-6,
    .py-medium-6 {
        padding-bottom: 4.5rem !important;
    }

    .pl-medium-6,
    .px-medium-6 {
        padding-left: 4.5rem !important;
    }

    .p-medium-7 {
        padding: 6rem !important;
    }

    .pt-medium-7,
    .py-medium-7 {
        padding-top: 6rem !important;
    }

    .pr-medium-7,
    .px-medium-7 {
        padding-right: 6rem !important;
    }

    .pb-medium-7,
    .py-medium-7 {
        padding-bottom: 6rem !important;
    }

    .pl-medium-7,
    .px-medium-7 {
        padding-left: 6rem !important;
    }

    .p-medium-8 {
        padding: 7.5rem !important;
    }

    .pt-medium-8,
    .py-medium-8 {
        padding-top: 7.5rem !important;
    }

    .pr-medium-8,
    .px-medium-8 {
        padding-right: 7.5rem !important;
    }

    .pb-medium-8,
    .py-medium-8 {
        padding-bottom: 7.5rem !important;
    }

    .pl-medium-8,
    .px-medium-8 {
        padding-left: 7.5rem !important;
    }

    .p-medium-9 {
        padding: 9rem !important;
    }

    .pt-medium-9,
    .py-medium-9 {
        padding-top: 9rem !important;
    }

    .pr-medium-9,
    .px-medium-9 {
        padding-right: 9rem !important;
    }

    .pb-medium-9,
    .py-medium-9 {
        padding-bottom: 9rem !important;
    }

    .pl-medium-9,
    .px-medium-9 {
        padding-left: 9rem !important;
    }

    .p-medium-10 {
        padding: 10.5rem !important;
    }

    .pt-medium-10,
    .py-medium-10 {
        padding-top: 10.5rem !important;
    }

    .pr-medium-10,
    .px-medium-10 {
        padding-right: 10.5rem !important;
    }

    .pb-medium-10,
    .py-medium-10 {
        padding-bottom: 10.5rem !important;
    }

    .pl-medium-10,
    .px-medium-10 {
        padding-left: 10.5rem !important;
    }

    .m-medium-auto {
        margin: auto !important;
    }

    .mt-medium-auto,
    .my-medium-auto {
        margin-top: auto !important;
    }

    .mr-medium-auto,
    .mx-medium-auto {
        margin-right: auto !important;
    }

    .mb-medium-auto,
    .my-medium-auto {
        margin-bottom: auto !important;
    }

    .ml-medium-auto,
    .mx-medium-auto {
        margin-left: auto !important;
    }
}

@media (min-width: 992px) {
    .m-large-0 {
        margin: 0 !important;
    }

    .mt-large-0,
    .my-large-0 {
        margin-top: 0 !important;
    }

    .mr-large-0,
    .mx-large-0 {
        margin-right: 0 !important;
    }

    .mb-large-0,
    .my-large-0 {
        margin-bottom: 0 !important;
    }

    .ml-large-0,
    .mx-large-0 {
        margin-left: 0 !important;
    }

    .m-large-1 {
        margin: 0.25rem !important;
    }

    .mt-large-1,
    .my-large-1 {
        margin-top: 0.25rem !important;
    }

    .mr-large-1,
    .mx-large-1 {
        margin-right: 0.25rem !important;
    }

    .mb-large-1,
    .my-large-1 {
        margin-bottom: 0.25rem !important;
    }

    .ml-large-1,
    .mx-large-1 {
        margin-left: 0.25rem !important;
    }

    .m-large-2 {
        margin: 0.5rem !important;
    }

    .mt-large-2,
    .my-large-2 {
        margin-top: 0.5rem !important;
    }

    .mr-large-2,
    .mx-large-2 {
        margin-right: 0.5rem !important;
    }

    .mb-large-2,
    .my-large-2 {
        margin-bottom: 0.5rem !important;
    }

    .ml-large-2,
    .mx-large-2 {
        margin-left: 0.5rem !important;
    }

    .m-large-3 {
        margin: 1rem !important;
    }

    .mt-large-3,
    .my-large-3 {
        margin-top: 1rem !important;
    }

    .mr-large-3,
    .mx-large-3 {
        margin-right: 1rem !important;
    }

    .mb-large-3,
    .my-large-3 {
        margin-bottom: 1rem !important;
    }

    .ml-large-3,
    .mx-large-3 {
        margin-left: 1rem !important;
    }

    .m-large-4 {
        margin: 1.5rem !important;
    }

    .mt-large-4,
    .my-large-4 {
        margin-top: 1.5rem !important;
    }

    .mr-large-4,
    .mx-large-4 {
        margin-right: 1.5rem !important;
    }

    .mb-large-4,
    .my-large-4 {
        margin-bottom: 1.5rem !important;
    }

    .ml-large-4,
    .mx-large-4 {
        margin-left: 1.5rem !important;
    }

    .m-large-5 {
        margin: 3rem !important;
    }

    .mt-large-5,
    .my-large-5 {
        margin-top: 3rem !important;
    }

    .mr-large-5,
    .mx-large-5 {
        margin-right: 3rem !important;
    }

    .mb-large-5,
    .my-large-5 {
        margin-bottom: 3rem !important;
    }

    .ml-large-5,
    .mx-large-5 {
        margin-left: 3rem !important;
    }

    .m-large-6 {
        margin: 4.5rem !important;
    }

    .mt-large-6,
    .my-large-6 {
        margin-top: 4.5rem !important;
    }

    .mr-large-6,
    .mx-large-6 {
        margin-right: 4.5rem !important;
    }

    .mb-large-6,
    .my-large-6 {
        margin-bottom: 4.5rem !important;
    }

    .ml-large-6,
    .mx-large-6 {
        margin-left: 4.5rem !important;
    }

    .m-large-7 {
        margin: 6rem !important;
    }

    .mt-large-7,
    .my-large-7 {
        margin-top: 6rem !important;
    }

    .mr-large-7,
    .mx-large-7 {
        margin-right: 6rem !important;
    }

    .mb-large-7,
    .my-large-7 {
        margin-bottom: 6rem !important;
    }

    .ml-large-7,
    .mx-large-7 {
        margin-left: 6rem !important;
    }

    .m-large-8 {
        margin: 7.5rem !important;
    }

    .mt-large-8,
    .my-large-8 {
        margin-top: 7.5rem !important;
    }

    .mr-large-8,
    .mx-large-8 {
        margin-right: 7.5rem !important;
    }

    .mb-large-8,
    .my-large-8 {
        margin-bottom: 7.5rem !important;
    }

    .ml-large-8,
    .mx-large-8 {
        margin-left: 7.5rem !important;
    }

    .m-large-9 {
        margin: 9rem !important;
    }

    .mt-large-9,
    .my-large-9 {
        margin-top: 9rem !important;
    }

    .mr-large-9,
    .mx-large-9 {
        margin-right: 9rem !important;
    }

    .mb-large-9,
    .my-large-9 {
        margin-bottom: 9rem !important;
    }

    .ml-large-9,
    .mx-large-9 {
        margin-left: 9rem !important;
    }

    .m-large-10 {
        margin: 10.5rem !important;
    }

    .mt-large-10,
    .my-large-10 {
        margin-top: 10.5rem !important;
    }

    .mr-large-10,
    .mx-large-10 {
        margin-right: 10.5rem !important;
    }

    .mb-large-10,
    .my-large-10 {
        margin-bottom: 10.5rem !important;
    }

    .ml-large-10,
    .mx-large-10 {
        margin-left: 10.5rem !important;
    }

    .p-large-0 {
        padding: 0 !important;
    }

    .pt-large-0,
    .py-large-0 {
        padding-top: 0 !important;
    }

    .pr-large-0,
    .px-large-0 {
        padding-right: 0 !important;
    }

    .pb-large-0,
    .py-large-0 {
        padding-bottom: 0 !important;
    }

    .pl-large-0,
    .px-large-0 {
        padding-left: 0 !important;
    }

    .p-large-1 {
        padding: 0.25rem !important;
    }

    .pt-large-1,
    .py-large-1 {
        padding-top: 0.25rem !important;
    }

    .pr-large-1,
    .px-large-1 {
        padding-right: 0.25rem !important;
    }

    .pb-large-1,
    .py-large-1 {
        padding-bottom: 0.25rem !important;
    }

    .pl-large-1,
    .px-large-1 {
        padding-left: 0.25rem !important;
    }

    .p-large-2 {
        padding: 0.5rem !important;
    }

    .pt-large-2,
    .py-large-2 {
        padding-top: 0.5rem !important;
    }

    .pr-large-2,
    .px-large-2 {
        padding-right: 0.5rem !important;
    }

    .pb-large-2,
    .py-large-2 {
        padding-bottom: 0.5rem !important;
    }

    .pl-large-2,
    .px-large-2 {
        padding-left: 0.5rem !important;
    }

    .p-large-3 {
        padding: 1rem !important;
    }

    .pt-large-3,
    .py-large-3 {
        padding-top: 1rem !important;
    }

    .pr-large-3,
    .px-large-3 {
        padding-right: 1rem !important;
    }

    .pb-large-3,
    .py-large-3 {
        padding-bottom: 1rem !important;
    }

    .pl-large-3,
    .px-large-3 {
        padding-left: 1rem !important;
    }

    .p-large-4 {
        padding: 1.5rem !important;
    }

    .pt-large-4,
    .py-large-4 {
        padding-top: 1.5rem !important;
    }

    .pr-large-4,
    .px-large-4 {
        padding-right: 1.5rem !important;
    }

    .pb-large-4,
    .py-large-4 {
        padding-bottom: 1.5rem !important;
    }

    .pl-large-4,
    .px-large-4 {
        padding-left: 1.5rem !important;
    }

    .p-large-5 {
        padding: 3rem !important;
    }

    .pt-large-5,
    .py-large-5 {
        padding-top: 3rem !important;
    }

    .pr-large-5,
    .px-large-5 {
        padding-right: 3rem !important;
    }

    .pb-large-5,
    .py-large-5 {
        padding-bottom: 3rem !important;
    }

    .pl-large-5,
    .px-large-5 {
        padding-left: 3rem !important;
    }

    .p-large-6 {
        padding: 4.5rem !important;
    }

    .pt-large-6,
    .py-large-6 {
        padding-top: 4.5rem !important;
    }

    .pr-large-6,
    .px-large-6 {
        padding-right: 4.5rem !important;
    }

    .pb-large-6,
    .py-large-6 {
        padding-bottom: 4.5rem !important;
    }

    .pl-large-6,
    .px-large-6 {
        padding-left: 4.5rem !important;
    }

    .p-large-7 {
        padding: 6rem !important;
    }

    .pt-large-7,
    .py-large-7 {
        padding-top: 6rem !important;
    }

    .pr-large-7,
    .px-large-7 {
        padding-right: 6rem !important;
    }

    .pb-large-7,
    .py-large-7 {
        padding-bottom: 6rem !important;
    }

    .pl-large-7,
    .px-large-7 {
        padding-left: 6rem !important;
    }

    .p-large-8 {
        padding: 7.5rem !important;
    }

    .pt-large-8,
    .py-large-8 {
        padding-top: 7.5rem !important;
    }

    .pr-large-8,
    .px-large-8 {
        padding-right: 7.5rem !important;
    }

    .pb-large-8,
    .py-large-8 {
        padding-bottom: 7.5rem !important;
    }

    .pl-large-8,
    .px-large-8 {
        padding-left: 7.5rem !important;
    }

    .p-large-9 {
        padding: 9rem !important;
    }

    .pt-large-9,
    .py-large-9 {
        padding-top: 9rem !important;
    }

    .pr-large-9,
    .px-large-9 {
        padding-right: 9rem !important;
    }

    .pb-large-9,
    .py-large-9 {
        padding-bottom: 9rem !important;
    }

    .pl-large-9,
    .px-large-9 {
        padding-left: 9rem !important;
    }

    .p-large-10 {
        padding: 10.5rem !important;
    }

    .pt-large-10,
    .py-large-10 {
        padding-top: 10.5rem !important;
    }

    .pr-large-10,
    .px-large-10 {
        padding-right: 10.5rem !important;
    }

    .pb-large-10,
    .py-large-10 {
        padding-bottom: 10.5rem !important;
    }

    .pl-large-10,
    .px-large-10 {
        padding-left: 10.5rem !important;
    }

    .m-large-auto {
        margin: auto !important;
    }

    .mt-large-auto,
    .my-large-auto {
        margin-top: auto !important;
    }

    .mr-large-auto,
    .mx-large-auto {
        margin-right: auto !important;
    }

    .mb-large-auto,
    .my-large-auto {
        margin-bottom: auto !important;
    }

    .ml-large-auto,
    .mx-large-auto {
        margin-left: auto !important;
    }
}

@media (min-width: 1200px) {
    .m-xlarge-0 {
        margin: 0 !important;
    }

    .mt-xlarge-0,
    .my-xlarge-0 {
        margin-top: 0 !important;
    }

    .mr-xlarge-0,
    .mx-xlarge-0 {
        margin-right: 0 !important;
    }

    .mb-xlarge-0,
    .my-xlarge-0 {
        margin-bottom: 0 !important;
    }

    .ml-xlarge-0,
    .mx-xlarge-0 {
        margin-left: 0 !important;
    }

    .m-xlarge-1 {
        margin: 0.25rem !important;
    }

    .mt-xlarge-1,
    .my-xlarge-1 {
        margin-top: 0.25rem !important;
    }

    .mr-xlarge-1,
    .mx-xlarge-1 {
        margin-right: 0.25rem !important;
    }

    .mb-xlarge-1,
    .my-xlarge-1 {
        margin-bottom: 0.25rem !important;
    }

    .ml-xlarge-1,
    .mx-xlarge-1 {
        margin-left: 0.25rem !important;
    }

    .m-xlarge-2 {
        margin: 0.5rem !important;
    }

    .mt-xlarge-2,
    .my-xlarge-2 {
        margin-top: 0.5rem !important;
    }

    .mr-xlarge-2,
    .mx-xlarge-2 {
        margin-right: 0.5rem !important;
    }

    .mb-xlarge-2,
    .my-xlarge-2 {
        margin-bottom: 0.5rem !important;
    }

    .ml-xlarge-2,
    .mx-xlarge-2 {
        margin-left: 0.5rem !important;
    }

    .m-xlarge-3 {
        margin: 1rem !important;
    }

    .mt-xlarge-3,
    .my-xlarge-3 {
        margin-top: 1rem !important;
    }

    .mr-xlarge-3,
    .mx-xlarge-3 {
        margin-right: 1rem !important;
    }

    .mb-xlarge-3,
    .my-xlarge-3 {
        margin-bottom: 1rem !important;
    }

    .ml-xlarge-3,
    .mx-xlarge-3 {
        margin-left: 1rem !important;
    }

    .m-xlarge-4 {
        margin: 1.5rem !important;
    }

    .mt-xlarge-4,
    .my-xlarge-4 {
        margin-top: 1.5rem !important;
    }

    .mr-xlarge-4,
    .mx-xlarge-4 {
        margin-right: 1.5rem !important;
    }

    .mb-xlarge-4,
    .my-xlarge-4 {
        margin-bottom: 1.5rem !important;
    }

    .ml-xlarge-4,
    .mx-xlarge-4 {
        margin-left: 1.5rem !important;
    }

    .m-xlarge-5 {
        margin: 3rem !important;
    }

    .mt-xlarge-5,
    .my-xlarge-5 {
        margin-top: 3rem !important;
    }

    .mr-xlarge-5,
    .mx-xlarge-5 {
        margin-right: 3rem !important;
    }

    .mb-xlarge-5,
    .my-xlarge-5 {
        margin-bottom: 3rem !important;
    }

    .ml-xlarge-5,
    .mx-xlarge-5 {
        margin-left: 3rem !important;
    }

    .m-xlarge-6 {
        margin: 4.5rem !important;
    }

    .mt-xlarge-6,
    .my-xlarge-6 {
        margin-top: 4.5rem !important;
    }

    .mr-xlarge-6,
    .mx-xlarge-6 {
        margin-right: 4.5rem !important;
    }

    .mb-xlarge-6,
    .my-xlarge-6 {
        margin-bottom: 4.5rem !important;
    }

    .ml-xlarge-6,
    .mx-xlarge-6 {
        margin-left: 4.5rem !important;
    }

    .m-xlarge-7 {
        margin: 6rem !important;
    }

    .mt-xlarge-7,
    .my-xlarge-7 {
        margin-top: 6rem !important;
    }

    .mr-xlarge-7,
    .mx-xlarge-7 {
        margin-right: 6rem !important;
    }

    .mb-xlarge-7,
    .my-xlarge-7 {
        margin-bottom: 6rem !important;
    }

    .ml-xlarge-7,
    .mx-xlarge-7 {
        margin-left: 6rem !important;
    }

    .m-xlarge-8 {
        margin: 7.5rem !important;
    }

    .mt-xlarge-8,
    .my-xlarge-8 {
        margin-top: 7.5rem !important;
    }

    .mr-xlarge-8,
    .mx-xlarge-8 {
        margin-right: 7.5rem !important;
    }

    .mb-xlarge-8,
    .my-xlarge-8 {
        margin-bottom: 7.5rem !important;
    }

    .ml-xlarge-8,
    .mx-xlarge-8 {
        margin-left: 7.5rem !important;
    }

    .m-xlarge-9 {
        margin: 9rem !important;
    }

    .mt-xlarge-9,
    .my-xlarge-9 {
        margin-top: 9rem !important;
    }

    .mr-xlarge-9,
    .mx-xlarge-9 {
        margin-right: 9rem !important;
    }

    .mb-xlarge-9,
    .my-xlarge-9 {
        margin-bottom: 9rem !important;
    }

    .ml-xlarge-9,
    .mx-xlarge-9 {
        margin-left: 9rem !important;
    }

    .m-xlarge-10 {
        margin: 10.5rem !important;
    }

    .mt-xlarge-10,
    .my-xlarge-10 {
        margin-top: 10.5rem !important;
    }

    .mr-xlarge-10,
    .mx-xlarge-10 {
        margin-right: 10.5rem !important;
    }

    .mb-xlarge-10,
    .my-xlarge-10 {
        margin-bottom: 10.5rem !important;
    }

    .ml-xlarge-10,
    .mx-xlarge-10 {
        margin-left: 10.5rem !important;
    }

    .p-xlarge-0 {
        padding: 0 !important;
    }

    .pt-xlarge-0,
    .py-xlarge-0 {
        padding-top: 0 !important;
    }

    .pr-xlarge-0,
    .px-xlarge-0 {
        padding-right: 0 !important;
    }

    .pb-xlarge-0,
    .py-xlarge-0 {
        padding-bottom: 0 !important;
    }

    .pl-xlarge-0,
    .px-xlarge-0 {
        padding-left: 0 !important;
    }

    .p-xlarge-1 {
        padding: 0.25rem !important;
    }

    .pt-xlarge-1,
    .py-xlarge-1 {
        padding-top: 0.25rem !important;
    }

    .pr-xlarge-1,
    .px-xlarge-1 {
        padding-right: 0.25rem !important;
    }

    .pb-xlarge-1,
    .py-xlarge-1 {
        padding-bottom: 0.25rem !important;
    }

    .pl-xlarge-1,
    .px-xlarge-1 {
        padding-left: 0.25rem !important;
    }

    .p-xlarge-2 {
        padding: 0.5rem !important;
    }

    .pt-xlarge-2,
    .py-xlarge-2 {
        padding-top: 0.5rem !important;
    }

    .pr-xlarge-2,
    .px-xlarge-2 {
        padding-right: 0.5rem !important;
    }

    .pb-xlarge-2,
    .py-xlarge-2 {
        padding-bottom: 0.5rem !important;
    }

    .pl-xlarge-2,
    .px-xlarge-2 {
        padding-left: 0.5rem !important;
    }

    .p-xlarge-3 {
        padding: 1rem !important;
    }

    .pt-xlarge-3,
    .py-xlarge-3 {
        padding-top: 1rem !important;
    }

    .pr-xlarge-3,
    .px-xlarge-3 {
        padding-right: 1rem !important;
    }

    .pb-xlarge-3,
    .py-xlarge-3 {
        padding-bottom: 1rem !important;
    }

    .pl-xlarge-3,
    .px-xlarge-3 {
        padding-left: 1rem !important;
    }

    .p-xlarge-4 {
        padding: 1.5rem !important;
    }

    .pt-xlarge-4,
    .py-xlarge-4 {
        padding-top: 1.5rem !important;
    }

    .pr-xlarge-4,
    .px-xlarge-4 {
        padding-right: 1.5rem !important;
    }

    .pb-xlarge-4,
    .py-xlarge-4 {
        padding-bottom: 1.5rem !important;
    }

    .pl-xlarge-4,
    .px-xlarge-4 {
        padding-left: 1.5rem !important;
    }

    .p-xlarge-5 {
        padding: 3rem !important;
    }

    .pt-xlarge-5,
    .py-xlarge-5 {
        padding-top: 3rem !important;
    }

    .pr-xlarge-5,
    .px-xlarge-5 {
        padding-right: 3rem !important;
    }

    .pb-xlarge-5,
    .py-xlarge-5 {
        padding-bottom: 3rem !important;
    }

    .pl-xlarge-5,
    .px-xlarge-5 {
        padding-left: 3rem !important;
    }

    .p-xlarge-6 {
        padding: 4.5rem !important;
    }

    .pt-xlarge-6,
    .py-xlarge-6 {
        padding-top: 4.5rem !important;
    }

    .pr-xlarge-6,
    .px-xlarge-6 {
        padding-right: 4.5rem !important;
    }

    .pb-xlarge-6,
    .py-xlarge-6 {
        padding-bottom: 4.5rem !important;
    }

    .pl-xlarge-6,
    .px-xlarge-6 {
        padding-left: 4.5rem !important;
    }

    .p-xlarge-7 {
        padding: 6rem !important;
    }

    .pt-xlarge-7,
    .py-xlarge-7 {
        padding-top: 6rem !important;
    }

    .pr-xlarge-7,
    .px-xlarge-7 {
        padding-right: 6rem !important;
    }

    .pb-xlarge-7,
    .py-xlarge-7 {
        padding-bottom: 6rem !important;
    }

    .pl-xlarge-7,
    .px-xlarge-7 {
        padding-left: 6rem !important;
    }

    .p-xlarge-8 {
        padding: 7.5rem !important;
    }

    .pt-xlarge-8,
    .py-xlarge-8 {
        padding-top: 7.5rem !important;
    }

    .pr-xlarge-8,
    .px-xlarge-8 {
        padding-right: 7.5rem !important;
    }

    .pb-xlarge-8,
    .py-xlarge-8 {
        padding-bottom: 7.5rem !important;
    }

    .pl-xlarge-8,
    .px-xlarge-8 {
        padding-left: 7.5rem !important;
    }

    .p-xlarge-9 {
        padding: 9rem !important;
    }

    .pt-xlarge-9,
    .py-xlarge-9 {
        padding-top: 9rem !important;
    }

    .pr-xlarge-9,
    .px-xlarge-9 {
        padding-right: 9rem !important;
    }

    .pb-xlarge-9,
    .py-xlarge-9 {
        padding-bottom: 9rem !important;
    }

    .pl-xlarge-9,
    .px-xlarge-9 {
        padding-left: 9rem !important;
    }

    .p-xlarge-10 {
        padding: 10.5rem !important;
    }

    .pt-xlarge-10,
    .py-xlarge-10 {
        padding-top: 10.5rem !important;
    }

    .pr-xlarge-10,
    .px-xlarge-10 {
        padding-right: 10.5rem !important;
    }

    .pb-xlarge-10,
    .py-xlarge-10 {
        padding-bottom: 10.5rem !important;
    }

    .pl-xlarge-10,
    .px-xlarge-10 {
        padding-left: 10.5rem !important;
    }

    .m-xlarge-auto {
        margin: auto !important;
    }

    .mt-xlarge-auto,
    .my-xlarge-auto {
        margin-top: auto !important;
    }

    .mr-xlarge-auto,
    .mx-xlarge-auto {
        margin-right: auto !important;
    }

    .mb-xlarge-auto,
    .my-xlarge-auto {
        margin-bottom: auto !important;
    }

    .ml-xlarge-auto,
    .mx-xlarge-auto {
        margin-left: auto !important;
    }
}

